<!DOCTYPE html> <!-- eslint-disable-line -->
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <title>bs-components</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
  <script src="build/bscomponents.js"></script>
<style>
  /*
.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown.show .dropdown-menu {
    max-height: 300px;
    opacity: 1;
}
*/

/* https://stackoverflow.com/questions/49351611/bootstrap-4-dropdown-fade-in-transition */
/*
.dropdown-menu.fade {
   display: block;
   opacity: 0;
   pointer-events: none;
}

.show > .dropdown-menu.fade {
   pointer-events: auto;
   opacity: 1;
}
*/


</style>

</head>
<body>

  <header>
    <bs-collapse class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">About</h4>
            <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">Contact</h4>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white">Follow on Twitter</a></li>
              <li><a href="#" class="text-white">Like on Facebook</a></li>
              <li><a href="#" class="text-white">Email me</a></li>
            </ul>
          </div>
        </div>
      </div>
    </bs-collapse>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <!-- <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg> -->
          <strong>bs-components</strong>
        </a>
        <bs-button role="button" class="btn navbar-toggler" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </bs-button>
      </div>
    </div>
  </header>




  <div class="container mt-5">
    <div id="app"></div>
    <script type="x/template" id="vdom">
      <div>

        <div v-if="pageVisible">

          <bs-button @click="handleButtonClick" role="button" id="single-toggle-button" class="btn btn-primary" data-toggle="button"

          :active="this.toggleAnchorActiveState['single-toggle-button']" change-event-name="change" v-on:change="(event) => this.$set(this.toggleAnchorActiveState, event.target.id, event.detail.active)"
          >
            <i id="inner-italc">Single toggle</i>
          </bs-button>

          <button @click="handleManualToggle"> toggle this.toggleAnchorActiveState['single-toggle-button'] </button>

          <bs-button tabindex="-1" :active="this.toggleAnchorActiveState['toggle-anchor']" change-event-name="change" v-on:change="(event) => this.$set(this.toggleAnchorActiveState, event.target.id, event.detail.active)">
            <a href="#" @click="handleButtonClick" id="toggle-anchor" role="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
              toggle anchor
            </a>
          </bs-button>

          <p>&nbsp;</p>


          <div class="btn-group-toggle" data-toggle="buttons">
            <bs-button role="button" class="btn btn-secondary active" active id="bheck-butto"

            :active="this.toggleAnchorActiveState['bheck-butto']" change-event-name="change" v-on:change="(event) => this.$set(this.toggleAnchorActiveState, event.target.id, event.detail.active)"

            >
              <input type="checkbox" checked autocomplete="off"> Checked
            </bs-button>
          </div>

          <p>&nbsp;</p>


          <div id="bs-button-radio-buttons" class="btn-group btn-group-toggle" data-toggle="buttons">
            <bs-button class="btn btn-secondary active" active id="radio1"
            :active="this.toggleAnchorActiveState['radio1']" change-event-name="change" v-on:change="(event) => this.$set(this.toggleAnchorActiveState, event.target.id, event.detail.active)"

            >
              <input type="radio" name="optionsv" id="option1" autocomplete="off" checked> Active
            </bs-button>
            <bs-button class="btn btn-secondary" id="radio2"
              :active="this.toggleAnchorActiveState['radio2']" change-event-name="change" v-on:change="(event) => this.$set(this.toggleAnchorActiveState, event.target.id, event.detail.active)"
            >
              <input type="radio" name="optionsv" id="option2" autocomplete="off"> Radio
            </bs-button>
            <bs-button class="btn btn-secondary" id="radio3"
              :active="this.toggleAnchorActiveState['radio3']" change-event-name="change" v-on:change="(event) => this.$set(this.toggleAnchorActiveState, event.target.id, event.detail.active)"

            >
              <input type="radio" name="optionsv" id="option3" autocomplete="off"> Radio
            </bs-button>
          </div>



          <bs-button class="btn btn-primary" data-toggle="modal" data-target="#vue-exampleModal">
              Launch vue demo modal
          </bs-button>
          <!-- Modal -->
          <bs-modal class="modal fade" id="vue-exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <p>modalTitle: <input v-model="modalTitle"> {{ modalTitle }}</p>


                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </bs-modal>

          <bs-dropdown ref="bsDropdownInVueExample" class="dropdown"
            show-event-name="vue_shown" v-on:vue_shown='handleShownBsDropdown'
            hidden-event-name="vue_hidden" v-on:vue_hidden='handleHiddenBsDropdown'
          >
            <bs-button class="btn btn-secondary dropdown-toggle" ref="bsDropdownButtonInVueExample" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Vue Dropdown button
              </bs-button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
          </bs-dropdown>

          <bs-tooltip id="vue-test-tooltip" class="btn btn-secondary" data-toggle="popover"
          v-bind:bs-title="tooltipTitle" title="fallback default title"
          v-bind:bs-content="tooltipContent" data-content="fallback default content"      >
            Vue Tooltip
          </bs-tooltip>
          <p>tooltipTitle: <input v-model="tooltipTitle"> {{ tooltipTitle }}</p>
          <p>tooltipContent: <input v-model="tooltipContent"> {{ tooltipContent }}</p>
          <p>&nbsp;</p>
          <button type="button" class="btn btn-primary" @click="handleUserClickedToggleDropdownButton">Vue Toggle Dropdown</button>
        </div>
        <p>&nbsp;</p>
        <button type="button" @click="handleTogglePageVisibile" class="btn btn-primary">toggle page visisble</button>
      </div>
    </script>


    <!-- <button type="button" id="refresh-virtual-dom-button" class="btn btn-primary">refresh virtual dom</button> -->
  </div>





  <script>
    "use strict";

    function handleShownBsDropdown() {
      console.log('vue Shown');
    }

    function handleHiddenBsDropdown() {
      console.log('vue Hidden');
    }

    function handleUserClickedToggleDropdownButton() {
      // method 1
      // this.$refs.bsDropdownInVueExample.setDropdownVisibility(!this.$refs.bsDropdownInVueExample.show);

      this.$refs.bsDropdownButtonInVueExample.dropdown('toggle');

      // // method 2
      // this.$refs.bsDropdownInVueExample.toggle();

      // // method 3
      // const isVisisble = this.$refs.bsDropdownInVueExample.show;
      // console.log('isVisisble: ', isVisisble);
      // if (isVisisble) {
      //   this.$refs.bsDropdownInVueExample.hideDropdown();
      // } else {
      //   this.$refs.bsDropdownInVueExample.showDropdown();
      // }
    }

    function handleButtonClick() {
      console.log('made it to vue');
    }

    function handleTogglePageVisibile() {
      // console.log('handleTogglePageVisibile');
      this.pageVisible = !this.pageVisible;
      // console.log('this.pageVisible: ', this.pageVisible);
    }

    function handleActiveChange(event) {
      console.log('handleActiveChange');
      console.log('event: ', event);
      // event.preventDefault();
    }

    function handleManualToggle() {
      console.log('this.toggleAnchorActiveState: ', this.toggleAnchorActiveState);


      // this.$set(this, "toggleAnchorActiveState['single-toggle-button']", !this.toggleAnchorActiveState['single-toggle-button']);

      // const myToggle = this.toggleAnchorActiveState['single-toggle-button'];
      // console.log('myToggle: ', myToggle);


      if (this.toggleAnchorActiveState['single-toggle-button']) {
        // this.$set(this.toggleAnchorActiveState, 'single-toggle-button', !this.toggleAnchorActiveState['single-toggle-button']);
        // this.toggleAnchorActiveState['single-toggle-button'] = !this.toggleAnchorActiveState['single-toggle-button'];
        this.$set(this.toggleAnchorActiveState, 'single-toggle-button', false);
      } else {
        this.$set(this.toggleAnchorActiveState, 'single-toggle-button', true);
        // this.$set(this, "toggleAnchorActiveState['single-toggle-button']", true);
        // this.toggleAnchorActiveState['single-toggle-button'] = true;
      }
    }

    Vue.config.ignoredElements = ['dtna-bs-modal'];
    const vm = new Vue({
      template: '#vdom',
      el: '#app',
      data: {
        pageVisible: true,
        message: 'Hello Vue!',
        showDropdown: 'false',
        tooltipTitle: 'vue tooltip title',
        tooltipContent: 'vue tooltip content',
        modalTitle: 'Modal Title',
        toggleAnchorActiveState: {
          radio2: true,
        },
      },
      methods: {
        handleShownBsDropdown: handleShownBsDropdown,
        handleHiddenBsDropdown: handleHiddenBsDropdown,
        handleUserClickedToggleDropdownButton: handleUserClickedToggleDropdownButton,
        handleTogglePageVisibile: handleTogglePageVisibile,
        handleButtonClick: handleButtonClick,
        handleActiveChange: handleActiveChange,
        handleManualToggle: handleManualToggle,
      }
    });


    // -- everything below here is not in the vue scope --

    // function handleForceVueRefresh() {
    //   vm.$forceUpdate();
    // }

    // document.getElementById("refresh-virtual-dom-button").addEventListener('click', handleForceVueRefresh);




//     function toggleDropdown() {
//       const el = document.getElementById("dropdownMenuButton");
//       el.dropdown('toggle');
//     }

//     function handleMyComponentShow(event) {
//       console.log('handleMyComponentShow event: ', event);
//       // console.log('handleMyComponentShow');
//     }

//     function handleMyComponentShown(event) {
//       console.log('handleMyComponentShown event: ', event);
//       // console.log('handleMyComponentShown');
//     }

//     function handleMyComponentHide(event) {
//       console.log('handleMyComponentHide event: ', event);
//       // console.log('handleMyComponentHide');
//     }

//     function handleMyComponentHidden(event) {
//       console.log('handleMyComponentHidden event: ', event);
//       // console.log('handleMyComponentHidden');
//     }



//     document.getElementById("my-dropdown").addEventListener('show.bs.dropdown', handleMyComponentShow);
//     document.getElementById("my-dropdown").addEventListener('shown.bs.dropdown', handleMyComponentShown);
//     document.getElementById("my-dropdown").addEventListener('hide.bs.dropdown', handleMyComponentHide);
//     document.getElementById("my-dropdown").addEventListener('hidden.bs.dropdown', handleMyComponentHidden);

//     function handleMyCollapseShow(event) {
//       console.log('handleMyCollapseShow event: ', event);
//       // console.log('handleMyCollapseShow');
//     }
//     function handleMyCollapseShown(event) {
//       console.log('handleMyCollapseShown event: ', event);
//       // console.log('handleMyCollapseShown');
//     }
//     function handleMyCollapseHide(event) {
//       console.log('handleMyCollapseHide event: ', event);
//       // console.log('handleMyCollapseHide');
//     }
//     function handleMyCollapseHidden(event) {
//       console.log('handleMyCollapseHidden event: ', event);
//       // console.log('handleMyCollapseHidden');
//     }

//     document.getElementById("multiCollapseExample2").addEventListener('show.bs.collapse', handleMyCollapseShow);
//     document.getElementById("multiCollapseExample2").addEventListener('shown.bs.collapse', handleMyCollapseShown);
//     document.getElementById("multiCollapseExample2").addEventListener('hide.bs.collapse', handleMyCollapseHide);
//     document.getElementById("multiCollapseExample2").addEventListener('hidden.bs.collapse', handleMyCollapseHidden);

//     function toggleSecondCollapse() {
//       const el = document.getElementById("collapseTwo");

//     // .collapse('toggle|show|hide')
//     // .collapse({ toggle: 'toggle|show|hide', target: '.selector', parent: '.selector' })

//       el.collapse('toggle');
//       // el.collapse('toggle');
//       // el.collapse('show'); // will show this collapse
//       // el.collapse('hide'); // will hide this collapse
//       // el.collapse({ toggle: 'toggle', target: '', parent:'' }); // will do nothing
//       // el.collapse({ toggle: 'show', target: '.collapse', parent:'body' }); // toggle all accordions
//       // el.collapse({ toggle: 'show', target: '.collapse', parent:'' }); // will open everything ignoring accordion rules
//       // el.collapse({ toggle: 'show', parent:'body' }); // will show this collapse and close every other collapse on the page
//     }

//     function toggleSingleToggleButton() {
//       const el = document.getElementById("single-toggle-button");
//       el.button('toggle');
//       // el.click();
//     }

//     function toggleSecondRadioButton() {
//       const el = document.getElementById("bs-button-radio-buttons");
//       // // el.button('toggle', '.btn:nth-child(2)');
//       el.querySelector('.btn:nth-child(2)').button('toggle');

//       // $('#bs-button-radio-buttons').find('.btn:nth-child(2)').button('toggle');
//     }

//     function handleModalShow(event) {
//       // event.preventDefault();
//       // console.log('handleModalShow event: ', event);
//     }

//     function handleModalHide(event) {
//       // event.preventDefault();
//     }

//     function handleModalShown(event) {
//       console.log('handleModalShown event:', event);
//       // console.log('time: ', new Date(event.detail.sentAtTime));
//     }

//     function handleModalHidden(event) {
//       console.log('handleModalHidden event:', event);
//       // console.log('time: ', new Date(event.detail.sentAtTime));
//     }

//     function handleOpenModalWithJavaScript() {
//       // const el = document.getElementById("exampleModal");
//       const el = document.getElementById("modal-test");
//       el.modal('show');
//       // el.modal('toggle');

//       // setTimeout(() => {
//       //   el.modal('hide');
//       // }, 5 * 1000);

//       // el.modal('show');
//       // el.modal('hide');
//       // el.modal('handleUpdate');
//       // el.modal({ backdrop: true, keyboard: true, focus: true, show: true });
//     }

//     // function handleFocusIn(event) {
//     //   console.log('handleFocusIn event: ', event);
//     // }

//     function handleClickOnTopTooltipButton() {
//       const el = document.getElementById("top-tooltip-button");
//       el.focus()
//     }

//     function handleShowRightTooltip() {
//       const el = document.getElementById("right-tooltip-button");
//       el.tooltip('show');
//     }

//     function handleToggleBottomTooltip() {
//       const el = document.getElementById("bottom-tooltip-button");
//       el.tooltip('toggle');
//     }

//     function handleTooltipWithHtmlShown(event) {
//       console.log('handleTooltipWithHtmlShown event: ', event);
//       // event.preventDefault();
//     }


//     document.getElementById("toggle-my-dropdown-button").addEventListener('click', toggleDropdown);

//     document.getElementById("toggle-second-collapse").addEventListener('click', toggleSecondCollapse);

//     document.getElementById("toggle-single-toggle-button").addEventListener('click', toggleSingleToggleButton);

//     document.getElementById("toggle-second-radio-button").addEventListener('click', toggleSecondRadioButton);


//     document.getElementById("exampleModal").addEventListener('show.bs.modal', handleModalShow);
//     document.getElementById("exampleModal").addEventListener('hide.bs.modal', handleModalHide);

//     document.getElementById("modal-test").addEventListener('shown.bs.modal', handleModalShown);

//     document.getElementById("modal-test").addEventListener('hidden.bs.modal', handleModalHidden);



//     document.getElementById("open-modal").addEventListener('click', handleOpenModalWithJavaScript);


//     document.getElementById("click-top-tooltip-button").addEventListener('click', handleClickOnTopTooltipButton);
//     document.getElementById("show-right-tooltip-button").addEventListener('click', handleShowRightTooltip);
//     document.getElementById("toggle-bottom-tooltip-button").addEventListener('click', handleToggleBottomTooltip);

//     // function setupPopover() {
//     //   const myPopoverConfig = {
//     //     html: true,
//     //     trigger: 'manual',
//     //     container: 'body',
//     //     animation: false,
//     //     content: () => document.querySelector('.content-with-handler'),
//     //   };
//     //   const el = document.getElementById('popover-test');
//     //   el.popover(myPopoverConfig);

//     //   el.popover('show');

//     //   // const template = document.createElement('div');
//     //   // template.innerHTML = '<div>loves writing tests （╯°□°）╯︵ ┻━┻</div>';
//     //   // const contentEl = template.firstChild;
//     //   // popoverEl.popover({ html: true, content: contentEl });
//     //   // console.log('popoverEl.config: ', popoverEl.config);
//     //   // popoverEl.popover('show');
//     //   // console.log('show fired!');
//     // }
//     // setTimeout(() => {
//     //   setupPopover();

//     // }, 1000);





//     // function handleInsertedTopTooltip(event) {
//     //   console.log('handleInsertedTopTooltip event: ', event);
//     // }
//     // document.getElementById("top-tooltip-button").addEventListener('inserted.bs.tooltip', handleInsertedTopTooltip);
//     // setTimeout(() => {
//     //   document.getElementById("top-tooltip-button").tooltip('show');
//     // }, 4000)


//     // document.getElementById("tooltip-with-html").addEventListener('show.bs.tooltip', handleTooltipWithHtmlShown);


//     // const addStylesToHead = () => {
//     //   const template = document.createElement('template');
//     //   template.innerHTML = '<style>' +
//     //   '.bs-tooltip-right { white-space: nowrap; }' +
//     //   '.bs-tooltip-right .tooltip-inner { max-width: none; }' +
//     //   '</style>';
//     //   const styles = template.content.firstChild;
//     //   if (document.head.appendChild(styles)) {
//     //     return true;
//     //   } else {
//     //     return false;
//     //   }
//     // };

//     // setTimeout(() => {
//     //   addStylesToHead();
//     //   const setupReturn = document.getElementById('very-very-long-tooltip').tooltip({ placement: 'right', trigger: 'manual' });
//     //   console.log('setupReturn: ', setupReturn);
//     //   const showReturn = document.getElementById('very-very-long-tooltip').tooltip('show');
//     //   console.log('showReturn: ', showReturn);
//     // }, 2000)


//       // <div id="my-collapse">
//       //   <div class="item">
//       //     <bs-button tabindex="-1">
//       //       <a data-toggle="collapse" href="#">Toggle item</a>
//       //     </bs-button>
//       //     <bs-collapse id="dom-collapse-test" class="collapse">Lorem ipsum</bs-collapse>
//       //   </div>
//       // </div>

//     //   function shouldAllowDomObjectInParentConfig(selector, parentSelector) {
//     //     const collapseEl = document.querySelector(selector);
//     //     const parentEl = document.querySelector(parentSelector);
//     //     const sentConfig = { parent: parentEl, toggle: true };
//     //     console.log('sentConfig: ', sentConfig);
//     //     collapseEl.collapse(sentConfig);
//     //   }


//     // setTimeout(() => {
//     //   shouldAllowDomObjectInParentConfig('#dom-collapse-test', '.my-collapse');
//     // }, 1000)


//     // document.getElementById("testing-focus").addEventListener('focusin', handleFocusIn);


// // const titleHtml = () => {
// //   var uid = btoa(Math.random().toString()).substring(5, 10);
// //   return '<p id="tt-content">' + uid + '</p><p>' + uid + '</p><p>' + uid + '</p>';
// // }

// // function setupTooltip() {
// //   console.log('setupTooltip');

// //   const mySetupResults = document.getElementById("tt-outer").tooltip({
// //     html: true,
// //     animation: false,
// //     trigger: 'hover',
// //     delay: {
// //       show: 0,
// //       hide: 500
// //     },
// //     title: titleHtml
// //   });
// // }



//     // $(document).ready(function() {
//     //   $('#exampleModal')[0].addEventListener('shown.bs.modal', handleModalShown);
//     // });



  </script>





</body>
</html>
